    /*ymo-card-details*/
    .ymo-staff-call .ymo-card-details{
        border-bottom: none;
    }
    /*ymo-card-details*/


    /*ymo-card-documents*/
    .ymo-staff-call .ymo-card-documents{
        margin-top: 10px;
    }


    .ymo-staff-call .ymo-card-documents ul{
        padding-left: 15px;
    }


    .ymo-staff-call .ymo-card-documents .ymo-see-more{
        margin-left: 140px;
    }
    /*ymo-card-documents*/