    /*ymo-card-list*/
    .ymo-staff-emission .ymo-card-list .ymo-btn-light-pink {
        font-size: 0.87em;
        padding: 5px 7px;
        margin-top: 0px;
    }
    /*ymo-card-list*/


    /*ymo-card-details*/
    .ymo-staff-emission .ymo-card-details{
        padding-right: 0px;
        border-bottom: 1px solid #aaaaaa;
    }


    .ymo-staff-emission .ymo-card-details .ymo-btn-logout{
        float: right;
    }
    /*ymo-card-details*/